:root {
  --beige: #F3EED9;
  --brown: #824936;
  --green: #222C2A;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--green);
  scroll-behavior: smooth;
}

h1, h2, .logo {
  font-family: 'Playfair Display', serif;
  width: fit-content;
  margin: 0;
}

p {
  font-size: 21px;
  font-weight: 400;
}

.bg-beige {
  background-color: var(--beige);
}

.bg-brown {
  background-color: var(--brown);
  color: white
}

.bg-green {
  background-color: var(--green);
  color: white
}

.container {
  margin-inline: auto;
  max-width: 1128px;
  padding: 6rem 0
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 25px;
  padding: 1rem 1.25rem;
  letter-spacing: .125em;
  width: fit-content;
}

.logo {
  font-size: 28px;
  color: var(--brown);
  display: flex;
  text-decoration: none;
  align-items: center;
  width: fit-content;
}

.logo span {
  display: inline-block;
  font-weight: 600;
}

.logo span + span {
  width: 60%;
  margin-left: .75rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  width: 96%;
  margin: 1.5rem 1.75rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.navigation .btn {
  border-radius: 50px;
}

.navigation ul {
  justify-content: space-evenly;
  width: 30%;
  display: flex;
}

.navigation li {
  font-size: 24px;
}

.nav__item a, .nav__item {
  display: inline-block;
  padding-top: 1rem;
}

.nav__item a.btn {
  color: white;
}

.sidebar {
  position: fixed;
  top: 15%;
  right: 1dvw;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  font-size: 18px;
}

.fp {
  height: 100dvh;
}

.hero {
  width: 100%;
  text-align: center;
  min-height: 660px;
}

.hero * {
  margin: 0 auto;
}

.hero h1 {
  font-weight: 900;
  font-size: 60px;
  color: var(--brown);
  width: 60%;
}

.hero h3 {
  font-weight: 100;
  margin-top: 10rem;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.container h2 {
  font-weight:900;
  font-size: 36px;
  text-transform: capitalize;
}

.quality h2 {
  margin-inline: auto;
  color: var(--brown)
}

.quality p {
  width: 50%;
  margin: 1rem 0;
}

.quality p + p{
  margin-left: 2rem;
}

.blurb {
  width: 50%;
}

.blurb h2 {
  text-transform: capitalize;
}