.sidebar {
  position: fixed;
  top: 35dvh;
  right: 1dvw;
  background-color: var(--brown);
  border-radius: 25px;
  width: fit-content;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar li + li {
  margin-top: 0.5em;
}

.sidebar a {
  display: block;
  text-align: center;
  width: clamp(36px, 8dvw, 48px);
  aspect-ratio: 1;
  padding: 0.25em;
}

.sidebar img {
  margin-top: 0.5dvh;
  width: clamp(28px, 6dvw, 32px);
  aspect-ratio: 1;
}

.sidebar a:hover {
  background-color: rgb(181, 45, 38);
  border-radius: 50%;
}

.sidebar .active {
  background-color: rgb(217, 64, 55);
  border-radius: 50%;
  fill: #fff;
}

.fp {
  height: 100dvh;
  padding: 20dvh 0;
}

.hero {
  width: 100%;
  text-align: center;
  min-height: 660px;
}

.hero * {
  margin: 0 auto;
}

.hero h1 {
  font-weight: 900;
  font-size: clamp(36px, 6dvw, 60px);
  color: var(--brown);
  width: clamp(240px, 440px, 70%);
}

.hero h3 {
  font-weight: 100;
  font-size: clamp(0.6em, 2dvw, 18px);
  margin-top: 10dvh;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.cabin {
  background-image: url("../images/cabin.webp");
  background-size: cover;
  width: 40%;
  aspect-ratio: 5/2;
}

.aryasatya {
  background-image: url("../images/aryasatya.webp");
  background-size: cover;
  background-position: center;
  width: 40%;
  aspect-ratio: 5/2;
}

.panorama {
  background-image: url("../images/image-01.jpg");
  background-size: cover;
  height: 248px;
  background-position: center;
}

.quality {
  margin-top: -2em;
  padding: 0 3em;
}

.quality h2 {
  margin-inline: auto;
  color: var(--brown);
}

.quality p {
  text-align: justify;
}

.quality .row:has(.btn) {
  align-items: center;
}

.blurb {
  margin-top: 2em;
  margin-left: clamp(0.8em, 6dvw,4rem);
}

.blurb__text {
  width: 50%;
}

.blurb__text h2 {
  text-transform: capitalize;
}

.blurb__img + .blurb,
.blurb + .blurb__img {
  margin-right: 2em;
}

@media (width < 940px) {
  .blurb {
    margin-top: 0;
  }

  .quality .row {
    margin-top: 1em;
  }

  .quality p {
    margin-top: 0;
  }

  .cabin {
    background-position-x: 0;
    background-position-y: 20%;
    aspect-ratio: 3;
  }

  .aryasatya {
    aspect-ratio: 2.8;
    background-position-x: center;
    background-position-y: 35%;
  }

  .blurb {
    margin-top: 0;
  }

  .blurb__img,
  .blurb__text {
    margin: 0 auto !important;
    min-width: 244px;
  }

  .blurb__text {
    width: 80% !important;
  }

  .blurb__img {
    width: 80%;
  }

  .blurb__text > h2 {
    margin-top: 0.8em;
  }
}

@media (width < 654px) {
  .cabin {
    background-position-y: 25%;
    aspect-ratio: 2.25;
  }
}

@media (width < 585px) {
  .sidebar {
    top: auto;
    right: auto;
    left: 27.5%;
    bottom: 0;
    transform: translateY(-50%);
  }

  .sidebar ul {
    flex-direction: row;
  }

  .sidebar li {
    flex-shrink: 0;
  }

  .sidebar li + li {
    margin: 0;
    margin-left: 0.5em;
  }

  .quality .row:has(.btn) {
    align-items: start;
  }

  .quality .btn {
    display: none;
  }
}
