:root {
  --beige: #F3EED9;
  --brown: #824936;
  --green: #222C2A;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--green);
}

h1, h2, .logo {
  font-family: 'Playfair Display', serif;
  width: fit-content;
  margin: 0;
}

p {
  font-size: 21px;
  font-weight: 400;
}

.bg-beige {
  background-color: var(--beige);
}

.bg-brown {
  background-color: var(--brown);
  color: white
}

.bg-green {
  background-color: var(--green);
  color: white
}

.container {
  margin-inline: auto;
  max-width: 1128px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 25px;
  padding: 1rem 1.25rem;
  letter-spacing: .125em;
  width: fit-content;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.logo {
  font-size: 28px;
  color: var(--brown);
  display: flex;
  text-decoration: none;
  align-items: center;
  width: 70%;
}

.logo span {
  display: inline-block;
  font-weight: 600;
}

.logo span + span {
  margin-left: .75rem;
}

nav ul, footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  width: 96%;
  margin: 1.5rem 1.75rem 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.navigation .btn {
  border-radius: 50px;
}

.navigation ul {
  width: 40%;
  display: flex;
}

.navigation li {
  font-size: 24px;
}

.navigation li + li{
  margin-left: .75em;
}

.flex__shrink {
  flex-shrink: 0;
}

.nav__item a, .nav__item {
  display: block;
  padding-top: 1rem;
}

.nav__item .btn {
  color: white;
}

.container h2 {
  font-weight:900;
  font-size: 36px;
  text-transform: capitalize;
}